.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lobster/v27/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
p,
li {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: #a00f0f;
}
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
h2 {
  font-size: 1.44rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 0.694rem;
}
body.home {
  font-size: 16px;
  background-color: rgba(252, 252, 228, 0.194);
  position: relative;
}
body.home header {
  display: flex;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: rgba(86, 87, 33, 0.123);
}
body.home header div {
  width: 80%;
  display: inline-block;
}
body.home header button {
  width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
body.home main {
  padding: 10px 20px;
  /*Parte referente alla lista creata su JS Product.js*/
}
body.home main ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
body.home main li:nth-of-type(1) {
  width: 20%;
}
body.home main li:nth-of-type(2) {
  width: 40%;
  padding-left: 10px;
}
body.home main .col-1 {
  width: 10%;
  text-align: center;
}
body.home main .col-1.add {
  display: flex;
}
body.home main .col-1.add p {
  width: 25px;
  height: 25px;
  padding-top: 4px;
}
body.home main .col-1.add button {
  background-color: #ddd;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
body.home main .col-1.add button:hover {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}
body.home main .col-1.color {
  padding: 20px 0;
  background-color: rgba(0, 128, 0, 0.173);
}
body.home main .add_to_cart {
  display: flex;
  justify-content: center;
}
body.home main .add_to_cart #addToCartButton {
  width: unset;
  background-color: #ddd;
  border-radius: 4px;
  padding: 8px 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
body.home main .add_to_cart #addToCartButton:hover {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}
body.home img {
  width: 200px;
  border: 5px solid;
}
/*CARRELLO*/
#cart {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: rgba(151, 144, 40, 0.753);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  /*Questo deve essere cambiato a flex*/
  justify-content: center;
  align-items: center;
}
.cartBox {
  position: relative;
  width: 80%;
  height: 1000px;
  max-height: 80%;
  padding: 20px;
  background-color: #ddd;
}
.cartBox h2 {
  font-family: 'Lobster', cursive;
  color: #a00f0f;
}
.cartClose {
  content: "x";
  width: unset;
  position: absolute;
  top: -25px;
  right: -15px;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}
.titleBar {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}
.titleBar h3 {
  width: calc(33.33333333%);
}
#productCart {
  overflow-y: auto;
  height: 60%;
  max-height: 60%;
  padding-right: 20px;
}
.productCartItem {
  display: flex;
  padding: 20px 0;
}
.productCartItem li {
  width: calc(33.33333333%);
  display: flex;
  align-items: center;
}
.productCartItem li:nth-of-type(2) button {
  width: 30px;
  padding: 5px 0;
  background-color: #aaa;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.productCartItem li:nth-of-type(2) button:hover {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.productCartItem li:nth-of-type(2) p {
  padding: 5px 10px;
}
.middleProductCart {
  text-align: center;
  justify-content: center;
}
.lastProductCart {
  text-align: end;
  justify-content: end;
}
.productCartTotal {
  position: relative;
  width: 100%;
  margin-right: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-top: 30px;
}
.productCartTotal li {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.productCartTotal li:nth-of-type(2) {
  color: #a00f0f;
  opacity: 0;
}
.productCartTotal li:last-of-type {
  border-top: 2px dotted #333;
  color: #1111b3;
}
#discountButton {
  display: none;
  width: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: #d3d624;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 15px;
  right: 25%;
}
#discountButton:hover {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.6);
}
/*FOOTER*/
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
}
footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 15px;
  background-color: #e7eb26;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}
footer button:hover {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.6);
}
/* ADM PANEL */
#admPanel {
  font-size: 16px;
  background-color: #fcfce4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  /*Questo deve essere cambiato a flex*/
}
#admPanel main {
  width: calc(66.66666667vw);
  height: 100vh;
  padding: 30px;
}
#admPanel img {
  width: 100px;
  border: 5px solid;
}
#admPanel aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(33.33333333vw);
  height: 100vh;
  background-color: #ddd;
  padding: 30px;
  position: relative;
}
#admPanel aside h2 {
  margin-bottom: 20px;
}
#admPanel aside h4 {
  color: #881c1c;
  margin-bottom: 5px;
}
#admPanel aside input,
#admPanel aside textarea {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}
#admPanel aside input,
#admPanel aside input::placeholder,
#admPanel aside label,
#admPanel aside textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}
#admPanel .newProductValorSect {
  display: flex;
}
#admPanel .newProductValorSect div:nth-of-type(1) {
  margin-right: 5px;
}
#admPanel .newProductValorSect div:nth-of-type(2) {
  margin: 0 5px;
}
#admPanel .newProductValorSect div:nth-of-type(3) {
  margin-left: 5px;
}
#admPanel aside button {
  width: 100px;
  padding: 5px 0;
  border: 1px solid #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 0.8rem;
}
#admPanel aside button:hover {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.6);
}
#admPanel aside button span {
  font-size: inherit;
}
#admPanel .closePanel {
  position: absolute;
  bottom: 30px;
}
/*MODALE ALERT PRODUCT & */
#modalProduct,
#modalAlertAdm {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.747);
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modalProduct div,
#modalAlertAdm div:first-child {
  width: 700px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #dddddd;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}
#modalProductText {
  font-weight: 400;
}
#modalProduct button,
#modalAlertAdm div:last-child button {
  width: 150px;
  border-radius: 5px;
  background-color: #e7eb26;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modalProduct button:hover {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.6);
}
#modalAlertAdm div:last-child {
  display: flex;
  width: 700px;
  justify-content: space-around;
}
#modalAlertAdm div h3:last-of-type {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  color: #a00f0f;
  font-weight: 300;
}
