@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;400;600&display=swap');

p,li{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: rgb(160, 15, 15);
}
h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
h2{font-size: 1.44rem;}
h3{font-size: 1.2rem;}
h4{font-size: 0.694rem;}

body.home{
  font-size: 16px;
  background-color: rgba(252, 252, 228, 0.194);
  position: relative;
}
header{
  display: flex;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: rgba(86, 87, 33, 0.123);
}
header div{
  width: 80%;
  display: inline-block;
}
header button{
  width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
body.home main{
  padding: 10px 20px;
}

main ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
main li:nth-of-type(1){
  width: 20%;
}
main li:nth-of-type(2){
  width: 40%;
}
body.home img{
  width: 200px;
  border: 5px solid;
}
.col-1{
  width: 10%;
  text-align: center;
}
.col-1.add{
  display: flex;
}
.col-1.add p{
  width: 25px;
  height: 25px;
  padding-top: 4px;
}
.col-1.add button{
  background-color: #ddd;
  width: 25px;
  height: 25px;
}
.col-1.color{
  padding: 20px 0;
  background-color: rgba(0, 128, 0, 0.173);
}
.add_to_cart{
  display: flex;
  justify-content: center;
}
#add_to_cart{
  width: unset;
  background-color: #ddd;
  border-radius: 4px;
  padding: 8px 12px;
}

/*CARRELLO*/
#cart{
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: rgba(151, 144, 40, 0.753);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none; /*Questo deve essere cambiato a flex*/
  justify-content: center;
  align-items: center;
}
.cartBox{
  position: relative;
  width: 80%;
  height: 1000px;
  max-height: 80%;
  padding: 20px;
  background-color: #ddd;
}
.cartBox .cartClose{
  content: "x";
  width: unset;
  position: absolute;
  top: -25px;
  right: -15px;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;

}
.cartBox h2{
  font-family: 'Lobster', cursive;
  color: rgb(160, 15, 15);
}
.titleBar{
  display: flex;
  justify-content: center;
  padding-right: 20px;
}
.titleBar h3{
  width: calc(100%/3);
}
#productCart{
  overflow-y: auto;
  height: 60%;
  max-height: 60%;
  padding-right: 20px;
}
.productCartItem{
  display: flex;
  padding: 20px 0;
}
.productCartItem li{
  width: calc(100%/3);
  display: flex;
  align-items: center;
}
.middleProductCart{
  text-align: center;
  justify-content: center;
}
.lastProductCart{
  text-align: end;
  justify-content: end;
}
.productCartItem li:nth-of-type(2) button{
  width: 30px;
  padding: 5px 0;
  background-color: #aaa;
  border-radius: 4px;
}
.productCartItem li:nth-of-type(2) p{
  padding: 5px 10px;
}
.productCartTotal{
  width: 100%;
  margin-right: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-top: 30px;
}
.productCartTotal li{
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.productCartTotal li:nth-of-type(2){
  color: rgb(160, 15, 15);
}
.productCartTotal li:last-child{
  border-top: 2px dotted #333;
}

/*FOOTER*/
footer{
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
}
footer button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 15px;
  background-color: rgb(231, 235, 38);
}

/* ADM PANEL */
#admPanel{
  font-size: 16px;
  background-color: rgb(252, 252, 228);
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  display: none; /*Questo deve essere cambiato a flex*/
  justify-content: center;
  align-items: center;
}
#admPanel main{
  width: calc(2*100vw/3);
  height: 100vh;
  padding: 30px;
}
#admPanel img{
  width: 100px;
  border: 5px solid;
}
#admPanel aside{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100vw/3);
  height: 100vh;
  background-color: #ddd;
  padding: 30px;
  position: relative;
}
#admPanel aside h2{
  margin-bottom: 20px;
}
#admPanel aside input,
#admPanel aside textarea{
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}
#admPanel aside input,
#admPanel aside input::placeholder,
#admPanel aside label,
#admPanel aside textarea{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}
#admPanel .newProductValorSect{
  display: flex;
}
#admPanel .newProductValorSect div:nth-of-type(1){
  margin-right: 5px;
}
#admPanel .newProductValorSect div:nth-of-type(2){
margin: 0 5px;
}
#admPanel .newProductValorSect div:nth-of-type(3){
margin-left: 5px;
}
#admPanel aside button{
  width: 100px;
  padding: 5px 0;
  border: 1px solid #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 0.8rem;
}
#admPanel aside button span{
  font-size: inherit;
}
#admPanel .closePanel{
  position: absolute;
  bottom: 30px;
}